server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Auth Service - NO lleva StripPrefix porque auth-service ya escucha en /auth/**
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**

        # Catalog Service - StripPrefix=1 para quitar /catalog del path
        # /catalog/ping -> /ping en catalog-service
        # /catalog/products -> /products en catalog-service
        - id: catalog-service
          uri: http://localhost:8082
          predicates:
            - Path=/catalog/**
          filters:
            - StripPrefix=1

        # Orders Service - StripPrefix=1 para quitar /orders del path
        # /orders/ping -> /ping en order-service
        - id: order-service
          uri: http://localhost:8083
          predicates:
            - Path=/orders/**
          filters:
            - StripPrefix=1

      # CORS config para Angular (Sprint 2+)
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true

# Management / Actuator
management:
  endpoints:
    web:
      exposure:
        include: health

# JWT config - DEBE ser el MISMO secret que auth-service
security:
  jwt:
    secret: "CurrenWatches_SecretKey_SuperSegura_2024!!"
